/* general styles */
body {
    margin: 0px;
    box-sizing: border-box;
}

.background {
  display: none;
  margin: 0px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

.background-img-api {
  width: 100%;
  height: 100%;
  margin: 0px;
  object-fit: cover;
  filter: blur(3px);
}

/* font styles */
label, select, input, textarea {
    font-size: 25px;
}

h4, h5, h6, p {
  font-family: 'Playfair Display', serif;
}

h1, h2, h3, label, select, input, textarea {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 3.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: .75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

li {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


/* starting page */
main {
    border-radius: 5px;
    background-color: white;
}

form {
    position: relative;
    height: 90%;
}

form *:not(button) {
    width: 100%;
    box-sizing: border-box;
}

select, input {
    height: 35px;
}

select, input, textarea {
    margin-top: 3px;
    margin-bottom: 20px;
}

textarea {
    height: 20%;
}

:placeholder-shown {
    font-size: 20px;
}


/* week list meal plan */
.container {
  width: 100%;
  max-width: 1024px;
  height: 50vh;
  min-height: 300px;
  display: grid;
  padding: 0px;
  margin: 0px auto;
}

li {
  list-style: none;
}

.weekday-recipe {
  width: 100%;
  margin-bottom: 10px;
}

.header-container {
  position: relative;
  overflow: hidden;
  margin-top: -14px;
  margin-bottom: -14px;
}

.recipe-header {
  position: absolute;
  z-index: 1;
  padding: 30px;
  color: white;
}

.recipe-info {
  padding: 0px 15px 25px 15px;
  margin-top: 0px;
}

.info-header {
  display: grid;
  grid-template-areas: 
  "b a"
  "c c"
  "d ."
}

.info-header h1 {
  grid-area: a;
  position: relative;
  top: 5%;
  text-align: right;
}

.info-header h2 {
  grid-area: b;
}

.info-header h3 {
  grid-area: c;
  font-size: 1rem;
}

.info-header p {
  grid-area: d;
}

.ingredient-list {
  padding-left: 0px;
}

.ingredient-list li::before {
  content: "- ";
}

.img-container {
  overflow: hidden;
}

img {
  width: 105%;
  margin-left: -2.5%;
}

.recipe-img {
  filter: brightness(0.6);
}

.tint-blur {
  filter: brightness(60%) blur(2px);

}

/* error message */
.err-message {
  padding: 35px 30px;
  max-width: 300px;
  width: 80%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  transition: box-shadow 200ms ease-in-out;
  z-index: 20;
}

.err-message:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}

.circle {
  position: absolute;
  top:30px;
  right: 45px;
  border-radius: 50%;
  z-index: 21;
}

.circle span {
  position: absolute;
  background-color: grey;
  height: 5px;
  width: 25px;
  border-radius: 20px;
  transition: all 100ms ease-in-out;
}

.circle:hover span {
  background-color: red;
}

.circle span:first-child {
  transform: rotate(45deg);
}

.circle span:last-child {
  transform: rotate(-45deg);
}

.err-message h3 {
  margin-top: 20px;
}

.err-message h4 {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.darken-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 19;
}


/* 
nutrition label general styling 
to be integrated in next update
*/
.nutrition-border {
  box-sizing: border-box;
  border: black solid 2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: 318px;
  max-width: 600px;
}

.nutrition-border, .nutrition-border > * {
  width: 100%;
}

table {
  text-align: left;
  border-collapse: collapse;
}

th {
  font-weight: 400;
}

tr {
  border-bottom: black solid 1px;
  height: 25px;
}


/* nutrition label frequently used */
.text-right {
  text-align: right;
}

.third {
  width: 33%;
}

.sub-heading {
  padding-left: 20px;
}


/* nutrition label line seperators */
.thick-line {
  border-bottom: black solid 10px;
  margin-bottom: 8px;
}

.med-line {
  border-bottom: black solid 5px;
  line-height: 28px;
}

.no-bottom-border {
  border-bottom: none;
}


/* nutrition label specific margin, padding */
.nutrition-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.small-margin {
  margin-top: 2px;
  margin-bottom: 2px;
}

.row-spacing {
  margin-top: -12px;
}

.no-right-pad {
  padding-right: 0px;
}

.left-pad {
  padding-left: 50px;
}


/* nutrition label misc */
.small-info {
  font-size: 0.7rem;
}

.vitamin-right::before {
  content: "•";
  margin-right: 8px;
}  

/* Animations */
.form-hidden {
  padding: 0px;
  position: unset;
  top: unset;
  left: unset;
  transform: unset;
  width: unset;
}

.container-hidden {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 90vh;
}

.hidden, #js-menu-toggle {
  display: none;
}


/* buttons */
.button {
  width: 120px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid darkgrey;
  background-color: rgb(255, 255, 255);
  color: grey;
  font-weight: 600;
}

.search-button {
  position: relative;
  float: right;
}

.search-back {
  position: fixed;
  top: 10vw;
  right: 10vw;
  z-index: 11;
}

.button:hover {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

.button:active {
  background-color: grey;
  color: white;
}

/* All screens except older phones like Galaxy S5 */
@media only screen and (min-width: 376px) {
  form {
    top: 45vh;
    transform: translateY(-50%);
  }
}


/* iPhone 5/SE */
@media only screen and (max-width: 340px) {
  form *:not(button) {
    margin-bottom: 15px;
  }

  label, select, input, textarea {
    font-size: 20px;
  }

  .bottom-left {
    position: relative;
    top: calc(90vh - 7px);
    left: 10vw;
  }
}


/* Galaxy S5 */
@media only screen and (max-height: 640px) {
  @media only screen and (min-width: 350px) {
    .recipe-header {
      top: 3%;
    }

    .search-back {
      top: 6vw;
    }
  }
}


/* iPhone6/7/8/X */
@media only screen and (min-width: 370px) {
  .recipe-header {
    top: 6%;
  }
}



/* large phones and tablets */
@media only screen and (min-height: 700px) {

  /* iphoneX */
  @media only screen and (max-width: 380px) {
    form {
      top: 50vh;
      transform: translateY(-50%);
    }
  }

  /* XL/Plus phones and tablets */
  @media only screen and (min-width: 400px) {
    .recipe-header {
      top: 13%;
    }
  }
}



/* Tablets and larger */
@media only screen and (min-width: 700px) {
  .background {
    display: block;
  }

  .container-hidden {
    height: 70vh;
  }

  form {
    width: 65vw;
    top: 37vh;
    left: 7vw;
  }

  .img-container {
    height: 40vh;
  }

  .recipe-img {
    position: absolute;
    top: -34%;
  }

  /* IPad Pro */
  @media only screen and (min-height: 1300px) {
    form {
      top: 35vh;
      left: 7.5vw;
    }

    .container-hidden {
      height: 60vh;
    }
  }

  /* desktop and laptops */
  @media only screen and (min-width: 1100px) {
    .background {
      object-fit: cover;
    }

    .container {
      width: 550px;
    }

    .container-hidden {
      width: 560px;
      height: 700px;
      background-color: white;
    }

    form {
      width: 90%;
      height: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .search-back {
      top: 25px;
      right: 25px;
    }
  }
}